* {
  margin: 0 auto;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #002339;
  color: #019f55;
}

.title {
  position: relative;
  margin: 30px;
}
.title h1 {
  font-weight: 700;
  padding: 30px;
  font-size: 3rem;
  text-align: center;
}

.title .line {
  background-color: #019f55;
  height: 3px;
  border: none;
  border-radius: 3px;
}

.tip-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#bill-amount,
#guests,
.tip-container {
  margin: 10px;
  font-size: 2rem;
}

.bill-input {
  background-color: aliceblue;
  border: none;
  border-radius: 15px;
  height: 45px;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select-guests {
  background-color: aliceblue;
  height: 50px;
  border-radius: 10px;
  color: black;
}

.tip-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 50px;
}

.tip-container .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 120px;
  margin: 50px;
}

.tip-container .btn-container .tip-btn {
  padding: 50px;
  border-radius: 47%;
  font-weight: 700;
  font-size: 2rem;
  background-color: aliceblue;
  color: black;
  cursor: pointer;
  position: static;
  border-color: transparent;
}

.tip-container .btn-container .tip-btn:hover {
  border: 3px solid #019f55;
}

.active {
  background-color: #07517e !important;
  border: 3px solid #019f55 !important;
  color: #019f55 !important;
}

.tip-container #custom {
  font-size: 1.5rem;
}
.tip-container #custom .custom-input {
  background-color: aliceblue;
  border: none;
  border-radius: 15px;
  height: 45px;
  text-align: center;
}

form .submit-btn {
  margin: 50px;
  padding: 30px;
  background-color: aliceblue;
  border-radius: 30px;
  color: black;
  font-weight: 600;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

form .submit-btn:hover {
  border: 4px solid #019f55;
}

.results-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 600;
}
.results-container .tip-result,
.results-container .total-result,
.results-container .divide-result {
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.hide {
  display: none !important;
}
